.experience {
  color: #49b29b;
  text-align: right;
  padding-right: 7rem;
  position: relative;
}

.experience .line-styling {
  position: absolute;
  left: 48%;
  transform: translateX(-10%);
  height: 40px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience .line-styling .style-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #49b29b;
}
.experience .line-styling .style-line {
  width: 95%;
  height: 3px;
  border-radius: 10px;
  background-color: #49b29b;
}

.experience-header {
  position: relative;
  z-index: 1; /* Ensure the header is on top of the line */
}

.experience-line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 2px; /* Adjust the width of the line as needed */
  height: 100%;
  background-color: #49b29b;
}

/* Add any additional styling as needed */
