.section {
  /* border: 2px solid black; */
  /* height: 300vh; */
}

.header {
  margin-right: 8rem;
  text-align: right;
  color: #49b29b;
}

.section .line-styling {
  position: absolute;
  left: 48%;
  transform: translateX(-40%);
  height: 40px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section .line-styling .style-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #49b29b;
}
.section .line-styling .style-line {
  width: 95%;
  height: 3px;
  border-radius: 10px;
  background-color: #49b29b;
}

.divvv {
  margin-right: 8rem;
  margin-left: 8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.divvv .body--col--1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project---img {
  /* padding: 10px; */
  box-shadow: 0px 0px 30px #49b29b;
}

.divvv .body--col--1 .data1 .project---img .image1 {
  height: 50vh;
  width: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.divvv .body--col--2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divvv .body--col--2 .data2 .project---desc {
  height: 60vh;
  width: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project--desc--p1 {
  /* background-color: #bce7de; */
  box-shadow: 0px 0px 30px #49b29b;
}

/* Media Queries for Responsive Design */

/* Desktop Screens */
@media only screen and (min-width: 1200px) {
  .divvv {
    margin-right: 12rem;
    margin-left: 12rem;
  }
}

/* Tablet Screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .divvv {
    margin-right: 6rem;
    margin-left: 6rem;
  }
}

/* Mobile Screens */
@media only screen and (max-width: 767px) {
  .divvv {
    margin-right: 2rem;
    margin-left: 2rem;
    flex-direction: column;
  }

  .divvv .body--col--1,
  .divvv .body--col--2 {
    width: 100%;
  }

  .divvv .body--col--1 .data1 .project---img .image1 {
    width: 100%;
    height: auto;
  }

  .divvv .body--col--2 .data2 .project---desc {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 280px) and (max-width: 653px) {
  .divvv {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex-direction: column;
  }

  .divvv .body--col--1,
  .divvv .body--col--2 {
    width: 100%;
    margin-top: -2rem;
  }

  .divvv .body--col--1 .data1,
  .divvv .body--col--2 .data2 {
    margin-top: 2rem;
  }
}
