.header {
  color: #49b29b;
  padding: 20px;
  text-align: right;
}

.projects {
  display: flex;
  justify-content: space-between;
}

.project-content {
  width: 50%;
  /* border: 2px solid blueviolet; */
}

.project--img {
  width: 100vh;
  height: 60vh;
  margin-left: 4rem;
}

.project--img2 {
  width: 100vh;
  height: 60vh;
  margin-top: 7rem;
  padding-right: 7rem;
}

.project-content2 {
  width: 50%;
}

/* .project--desc {
  padding-right: 1rem;
} */

.project--desc--p1 {
  margin-right: 4rem;
  background-color: #bce7de;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 1rem;
}

.project--desc--p2 {
  margin-left: 10rem;
  background-color: #bce7de;
  margin-top: 13rem;
  margin-bottom: 6rem;
  padding: 1rem;
  position: relative;
}

.project--desc--p3 {
  margin-right: 10rem;
  background-color: #bce7de;
  margin-top: 18rem;
  margin-bottom: 6rem;
  padding: 1rem;
}
