.about {
  min-height: 60vh;
  background-color: rgb(255, 255, 255);
}

.about-img {
  margin-top: 20px;
  pointer-events: none;
}

.about-imgg {
  margin-top: 20px;
  pointer-events: none;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 2px dotted #050505;
  padding: 10px;
}

.about-description {
  margin-top: 40px;
  margin-left: 10rem;
  margin-right: 10rem;
}

@media only screen and (max-width: 768px) {
}

/* Responsive styles for screens with a minimum width of 769px and a maximum width of 1024px (e.g., tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* .about-description {
    padding-left: 50px;
    padding-right: 50px;
  } */
}

/* Responsive styles for screens with a minimum width of 1025px (e.g., larger screens like desktops or Macs) */
@media only screen and (min-width: 1025px) {
  .about-description {
    padding-left: 100px;
    padding-right: 100px;
  }
}
