.about {
  min-height: 60vh;
  background-color: rgb(255, 255, 255);
}

.about-img {
  margin-top: 20px;
  pointer-events: none;
}

.about-imgg {
  margin-top: 20px;
  pointer-events: none;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 2px dotted #050505;
  padding: 10px;
}

.about-description {
  margin-top: 40px;
  margin-left: 10rem;
  margin-right: 10rem;
}

@media screen and (max-width: 800px) {
  .about .line-styling .style-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  /* .about-description > h2{
    align-self: center;
  } */
}

@media screen and (max-width: 600px) {
  .about .line-styling .style-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  .about .line-styling .style-line {
    width: 93%;
    height: 3px;
    border-radius: 10px;
  }
}
