/* Navbar.css */

/* .navbar {
  position: fixed;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline;
  margin-right: 10px;
  align-items: right;
}

.navbar-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #49b29b;
} */
